/* line 1, ../sass/main.sass */
body {
  padding: 120px;
  background-color: #878787;
}

/* line 5, ../sass/main.sass */
.info {
  margin-left: 10%;
  float: left;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px #333;
}

/* line 11, ../sass/main.sass */
.todolist {
  margin-top: 60px;
}

/* line 14, ../sass/main.sass */
.filter {
  float: right;
  margin-right: 12px;
}

/* line 18, ../sass/main.sass */
span:hover {
  cursor: pointer;
}

/* line 22, ../sass/main.sass */
span.glyphicon-remove:hover {
  cursor: pointer;
  color: #B50000;
}

/* line 26, ../sass/main.sass */
span.glyphicon-unchecked:hover {
  cursor: pointer;
  color: green;
}

/* line 30, ../sass/main.sass */
img.icon {
  margin-bottom: -20px;
  margin-top: -22px;
  margin-left: -10px;
  margin-right: -10px;
  width: 32px;
  height: 32px;
}
